body {
  background-color: #e6e6fa;
  color: purple;
  font-family: 'Tahoma', sans-serif;
}
.title {
  font-family: 'Brush Script MT', cursive;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size : medium;
  width: calc(33% - 6px);
  height: 60px;
  color: lightgray;
  background-color: #606060;
  text-align: center;
  border-radius: 15px;
  border:1px solid darkslategray;
}
.buttons-group {
  display: flex;
  flex-flow: row wrap;
}
.buttons-group > button {
  margin: 3px;
}

#crystal-button {
  color: lightgray;
  background: radial-gradient(ellipse 100% 80%, purple, lightgray);
}
#rainbow-button {
  color: darkmagenta;
  background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo);
}
#flame-button {
  background: linear-gradient(to top, #ff8000, orange, yellow, orange, #ff8000);
}
#other-button {
  color: #c0c0c0;
  background: #303030;
}
#dark-crystal-button {
  width: 60%;
  color: lightgray;
  background: radial-gradient(ellipse 100% 80%, purple, white);
  margin-bottom: 3px;
}
#ruby-button {
  color: lightgray;
  background: radial-gradient(ellipse 100% 80%, #9b111e, white);
}
#emerald-button {
  color: #404040;
  background: radial-gradient(ellipse 100% 80%, #10D026, white);
}
#saphire-button {
  color: lightgray;
  background: radial-gradient(ellipse 100% 80%, #1020A0, white);
}
#topaz-button {
  color: #404040;
  background: radial-gradient(ellipse 100% 80%, #ffa000, white);
}
#turquoise-button {
  color: #404040;
  background: radial-gradient(ellipse 100% 80%, #00d0d0, white);
}
#diamond-button {
  color: #404040;
  background: radial-gradient(ellipse 100% 80%, white,#b0b0b0);
}
#amethyst-button {
  color: #404040;
  background: radial-gradient(ellipse 100% 80%, #9966cc, white);
}
#jade-button {
  color: #404040;
  background: radial-gradient(ellipse 100% 80%, #40A630, white);
}
#lapis-button {
  background: radial-gradient(ellipse 100% 80%, #26619c, white);
}

.home-img {
  width: 100px;
  border: 1px solid gray;
  background-color: lightgray;
  padding: 5px;
}

#brightness-box {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  flex-grow: 1;
  visibility: hidden;
}
#brightness-box > input[type="range"] {
  margin-left: 20px;
  width: 100%;
}

.homepage-page {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0%;
  transition: all 0.3s ease-out;
}
.homepage-out {
  left: -25%;
  transition: all 0.3s ease-out;
}

.subpage {
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: lavender;
  top: 0%;
  width: 100%;
  height: 100%;
  left: 100%;
  transition: left 0.3s ease-out;
}
.subpage-top-bar {
  padding-bottom: 20px;
}
.subpage-back-chevron {
  position: absolute;
  border-left: 2px solid; 
  border-bottom: 2px solid;
  left: 10px;
  top: 10px;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
}
.subpage-back-label {
  font-size: medium;
  position: absolute;
  left: 20px;
  top: 5px;
}
.subpage-back:hover,
.subpage-back:focus {
  cursor: pointer;
}
.subpage-back:active>.subpage-back-chevron {
  border-color: rgba(139,0,139, 0.4);
}
.subpage-back:active>.subpage-back-label {
  color: rgba(139,0,139, 0.4);
}
.subpage-title {
  display: table;
  margin: 0 auto;
  padding-top: 5px;
  font-size: xx-large;
}
.subpage-is-open {
  left: 0%;
  transition: left 0.3s ease-out;
}

.section-title {
  display: table;
  margin: 0 auto;
  padding-top: 5px;
  font-size: x-large;
}

.color-speed > span {
  padding: 10px 0px 0px 0px;
  display: block;
  text-align: center;
  font-size: small;
}
.color-speed-container {
  display: flex;
  flex-flow: row nowrap;
}
.color-speed input[type="color"] {
  height: 36px;
  width: 48;
}
.color-speed-icon {
  padding: 5px;
}
.color-speed input[type="range"] {
  flex-grow: 1;
  width: 100%;
  height: 35px;
}
.color-speed-slider {
  width: 100%;
}

/***** Toggle switch *****/

/* 
.toggle-box {
  display: flex;
  padding-right: 25px;
}
.toggle {
  --width: 25px;
  --height: 15px;

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
  align-items: right;
}
.toggle input {
  display: none;
}
.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color:#ccc;
  transition: all 0.4s;
}
.toggle input:checked + .slider {
  background-color:#8ce196;
}
.toggle .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px, 1px, 3px, rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}
.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}
 */

/*
EXAMPLE HTML FOR TOGGLE
<!-- <div class="toggle-box">
<label class="control-label" for="onoff">
  On/Off
</label>
<label class="toggle">
  <input type="checkbox" id="onoff"/>
  <div class="slider"></div>
</label>
</div> -->
*/
