body {
  background-color: lavender;
  color: purple;
}
.title {
  font-family: 'Brush Script MT', cursive;
  font-size: x-large;
  font-weight: bold;
  color: purple;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button {
  width: 100%;
  color: purple;
  text-align: center;
}
.header-img {
  width: 100;
  border: 1px solid gray;
  background-color: lightgray;
  padding: 5px;
}
.control-label {
  font-family: 'Arial', sans-serif;
  padding-right: 10px;
}
.brightness-box {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  flex-grow: 1;
  visibility: hidden;
}
.slider {
  width: 100%;
}

/***** Toggle switch *****/

/* 
.toggle-box {
  display: flex;
  padding-right: 25px;
}
.toggle {
  --width: 25px;
  --height: 15px;

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
  align-items: right;
}
.toggle input {
  display: none;
}
.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color:#ccc;
  transition: all 0.4s;
}
.toggle input:checked + .slider {
  background-color:#8ce196;
}
.toggle .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px, 1px, 3px, rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}
.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}
 */

/*
EXAMPLE HTML FOR TOGGLE
<!-- <div class="toggle-box">
<label class="control-label" for="onoff">
  On/Off
</label>
<label class="toggle">
  <input type="checkbox" id="onoff"/>
  <div class="slider"></div>
</label>
</div> -->
*/
